WebContent/wsdl/SoapService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.basic.webservices.e2012.smds.itu.dk" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.basic.webservices.e2012.smds.itu.dk" xmlns:intf="http://server.basic.webservices.e2012.smds.itu.dk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.basic.webservices.e2012.smds.itu.dk" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="GetAttendantTasks">
    <complexType>
     <sequence>
      <element name="attendantId" type="xsd:string"/>
      <element name="serviceOption" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetAttendantTasksResponse">
    <complexType>
     <sequence>
      <element name="GetAttendantTasksReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="CreateTask">
    <complexType>
     <sequence>
      <element name="taskXml" type="xsd:string"/>
      <element name="serviceOption" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="CreateTaskResponse">
    <complexType/>
   </element>
   <element name="DeleteTask">
    <complexType>
     <sequence>
      <element name="taskId" type="xsd:string"/>
      <element name="serviceOption" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="DeleteTaskResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="DeleteTaskResponse">

      <wsdl:part element="impl:DeleteTaskResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetAttendantTasksResponse">

      <wsdl:part element="impl:GetAttendantTasksResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="DeleteTaskRequest">

      <wsdl:part element="impl:DeleteTask" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CreateTaskResponse">

      <wsdl:part element="impl:CreateTaskResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CreateTaskRequest">

      <wsdl:part element="impl:CreateTask" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="GetAttendantTasksRequest">

      <wsdl:part element="impl:GetAttendantTasks" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SoapService">

      <wsdl:operation name="GetAttendantTasks">

         <wsdl:input message="impl:GetAttendantTasksRequest" name="GetAttendantTasksRequest">

       </wsdl:input>

         <wsdl:output message="impl:GetAttendantTasksResponse" name="GetAttendantTasksResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="CreateTask">

         <wsdl:input message="impl:CreateTaskRequest" name="CreateTaskRequest">

       </wsdl:input>

         <wsdl:output message="impl:CreateTaskResponse" name="CreateTaskResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="DeleteTask">

         <wsdl:input message="impl:DeleteTaskRequest" name="DeleteTaskRequest">

       </wsdl:input>

         <wsdl:output message="impl:DeleteTaskResponse" name="DeleteTaskResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SoapServiceSoapBinding" type="impl:SoapService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="GetAttendantTasks">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetAttendantTasksRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetAttendantTasksResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="CreateTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="CreateTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="CreateTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="DeleteTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="DeleteTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="DeleteTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SoapServiceService">

      <wsdl:port binding="impl:SoapServiceSoapBinding" name="SoapService">

         <wsdlsoap:address location="http://localhost:8080/WebserviceJava/services/SoapService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
